.screen {
    height: 100px;
    padding: 10px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.show-math-string {
    font-size: medium;
    /* background-color: red; */
}
.show-result{
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}